
@{
    ViewBag.Title = "An email has been sent";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Thank you for signing up. Please check your email and click on the link to confirm your email address.
</p>
